<!DOCTYPE html>
{% from "navbar.html" import navbar%}
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transaction</title>
</head>
<body>
    {{ navbar() }}
    <header>maak een transactie</header>
    <form action="/transaction" method="post">
        <label for="ontvanger">Ontvanger: </label> <br>
        <input type="text" name="ontvanger" required> <br>
        <label for="hoeveelheid">Bedrag: </label> <br>
        <input type="number" name="hoeveelheid" required> <br>
        <button type="submit">Verzend</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <header class="{{ category }}">{{ message }}</header>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>